.basket-logo__icon {
    width: 50px;
    height: 50px;
}

.basket-logo {
    margin: 0 20px 0 0;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    color: #212227;
    position: relative;
    height: 54px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    padding: 2px;
}

.basket-logo:hover {
    cursor: pointer;
}

.basket-logo__counter {
    position: absolute;
    bottom: -14px;
    left: -14px;
    background-color: #212227;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    transform: translate(50%, -50%);
}

.basket-logo__wrapper {
    position: relative;
    height: 54px;
    width: auto;
}