.header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header__logo__button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.language__selector__wrapper {
    position: absolute;
    left: 20px;
}

.profile__wrapper {
    position: absolute;
    right: 20px;
}
