/* Variables */

:root {
    --color-light: #aab9cf;
    /* --color-link: #BDD4E7; */
    --color-link-hover: #8693ab;
    --color-background: #f7f7f7;
    --color-text: #212227;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    width: 70%;
    max-width: 900px;
    min-width: 600px;
    background-color: white;
    margin: 0 auto;
}

