

/* Global styles */

html {
    background-color: var(--color-background); /* Global background color */
    color: var(--color-text); /* Global text color */

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

}

a {
    font-weight: 500;
    text-decoration: none;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

a:hover {
    color: var(--color-link-hover);
}